body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    color: #007bff;
}

h2 {
    color: #eb2528;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}


